In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df2=pd.read_csv('D:\MLops-Recommendation-Project\dataset\Sales_Amazon_Cleaned_final.csv')

In [9]:
df2.shape

(151809, 18)

In [10]:
df2.head(3)

,Unnamed: 0,user_id,product_id,user_name,product_name,discounted_price,actual_price,discount_percentage,rating,rating_count,category_1,category_2,rating_score,difference_price,neg,neu,pos,compound
0,0,AG3D6O4STAQKAY2UVGEUV46KN35Q,B07JW9H4J1,Manav,Wayona Nylon Braided USB to Lightning Fast Cha...,399.0,1099.0,0.64,4.2,24269.0,Computers & Accessories,Accessories & Peripherals,Above Average,700.0,0.032,0.744,0.224,0.9033
1,1,AG3D6O4STAQKAY2UVGEUV46KN35Q,B07JW9H4J1,Manav,Wayona Nylon Braided USB to Lightning Fast Cha...,399.0,1099.0,0.64,4.2,24270.0,Computers & Accessories,Accessories & Peripherals,Above Average,700.0,0.032,0.744,0.224,0.9033
2,2,AG3D6O4STAQKAY2UVGEUV46KN35Q,B07JW9H4J1,Manav,Wayona Nylon Braided USB to Lightning Fast Cha...,399.0,1099.0,0.64,4.2,24269.0,Computers & Accessories,Accessories & Peripherals,Above Average,700.0,0.032,0.744,0.224,0.9033

In [12]:
df2.isnull().sum().sum()

8